<html>
    <head>
        <title>中国历史人物数据库</title>
        <style>
            table {
                border-collapse: collapse;
                border:1px solid black;
            }
            td {
                border:1px solid black;
            }
        </style>
    </head>
    <body>
        <h1>中国历史人物数据库</h1>
        <h2>历史人物的著作</h2>
        <ol>
            {% for source in sources %}
            <li><a href="http://localhost:8091/search-book/?keyword={{source['c_title_chn']}}">{{source['c_title_chn']}}</a></li>
            {% endfor %}
        </ol>
    </body>
</html>